body {
 background: linear-gradient(135deg, #3498db, #2980b9, #2c3e50);
 font-family: 'Arial', sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 margin: 0;
}

.container {
 text-align: center;
}

h1 {
 color: #fff; 
}

table {
 border-collapse: collapse;
 margin: 20px auto;
 background-color: #fff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#sudoku-grid {
 border-top: #000 2px solid ;
 border-left: #000 2px solid ;
}

td {
 border: 1px solid #ddd;
 width: 30px;
 height: 30px;
 text-align: center;
 font-size: 16px;
 background-color: #fff;
}

td.initial {
 background-color: #a6c6e4;
}

td:nth-child(3n) {
    border-right: 2px solid #000;
}

tr:nth-child(3n) {
    border-bottom: 2px solid #000;
}

.buttons {
 margin-top: 20px;
}

button {
 margin: 5px;
 padding: 8px 16px;
 font-size: 16px;
 cursor: pointer;
 background-color: #3498db;
 color: #fff;
 border: none;
 border-radius: 4px;
}

button:hover {
 background-color: #207cca;
}
