@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
 font-family: 'Questrial', sans-serif;
}

body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin: 0;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background: linear-gradient(to right, #FFD700, #FF6347, #87CEEB, #98FB98);
}

.container {
 text-align: center;
 background-color: #fff;
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
 color: #333;
}

#wordle-container {
 margin-top: 20px;
}

#lives {
 margin-bottom: 10px;
 font-size: 18px;
 color: #555;
}

#word-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#word-display-container > div {
    font-size: 2em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#word-display-container span {
    padding: 8px;
    margin: 0 4px;
    font-size: 1.5em;
    border-bottom: 2px solid #333;
    transition: background-color 0.3s ease;
}

#word-display-container span.correct {
    background-color: #a3e7a3; /* Light green for correct letters */
}

#word-display-container span.incorrect {
    background-color: #ffcccc; /* Light red for incorrect letters */
}

#word-display-container span.partial-correct {
    background-color: orange; /* Orange for partially correct letters */
}



#guess-input {
 padding: 10px;
 font-size: 16px;
}

button {
 padding: 10px;
 font-size: 16px;
 background-color: #4caf50;
 color: #fff;
 border: none;
 cursor: pointer;
 border-radius: 4px;
}

button:disabled {
 background-color: #ddd;
 cursor: not-allowed;
}

#feedback {
 margin-top: 10px;
 font-weight: bold;
 color: green;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
 .container {
     width: 80%;
 }
}